.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;

  &__content {
    width: 40rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
  }
  &__header,
  &__body {
    padding: 1rem;
  }
}
