.header-container {
  background-color: #181d31;
  position: sticky;
  top: 0;
}

.container {
  width: 60rem;
  max-width: 90%;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 5rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}
